details.explain_it {
 border-radius: 4px;
 background-color: oldlace;
 border-right: medium solid grey;
 box-shadow: 0 3px grey;
 padding: 10px; 
 /*position: relative;*/
 margin-bottom: 20px;
 /*width: 100%;
 width: inherit; /* IE7 and lower dont support inherit */
}
details.explain_it summary {
	cursor: pointer;
}
details.explain_it .explainTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	width: 70%;
}
details.explain_it .numbers {
	float: right;
	line-height: inherit;
	text-align: right;
	-webkit-user-select: none;
	width: 15%;
}
details.explain_it .numbers:before { content: '[';}
details.explain_it .numbers:after { content: ']';}
details.explain_it summary {
	text-transform: capitalize;
}
details.explain_it p {
	font: normal 11px/1.3 Verdana;
	margin: 10px 0;

}
details.explain_it .henke { text-align: center; }
details.explain_it .sylvie {
	font: 11px/1 Arial;
}
/* do this better */
details.explain_it .sylvie:before {
	content: '---------';
	position: absolute;
	left: 10px;
}
details.explain_it .sylvie:after {
	content: '---------';
	position: absolute;
	right: 10px;
}