/* INVERSE COLORS
 **********************************
 * Simple concept that adherse to
 * object oriented programming. 
 **********************************
 * Background =================== *
 * I noticed that I more and more
 * did element specific color
 * invertation on places like
 * the footer, the header,
 * and even some text-blocks.
 *
 * Rational ===================== *
 * Stop spending time doing
 * repetitive tasks.
 *
 * TOC ========================== *
 * The point is not to build the
 * perfect CSS boilerplate.
 * My main interest is to show
 * the concept of inverse-colors.
 *
 * It does add some weight on your
 * file size. We need to compare
 * the difference between writing
 * element specific code to this.
 * 
 * To be able to evaluate it.
 *
 * Usage ======================== *
 * Apply the class
 * .inverse-color and
 * .colorific to the
 * container.
 * 
 * Author ======================= *
 * My name is Henrik Lundgren.
 * I am a struggling webbdeveloper
 * that find joy in experiencing the
 * change new media has on the old.
 *
 * Details ====================== *
 * I can be found on twitter @heni.
 * I am not a proponent of
 * always-connected. So dont expect
 * an answer straight away. :)
 */

.inverse-color h1,
.inverse-color h2,
.inverse-color h3,
.inverse-color h4,
.inverse-color h5,
.inverse-color h6 { color: hsl(0,0%,97%); }

.colorific h1,
.colorific h2,
.colorific h3,
.colorific h4,
.colorific h5,
.colorific h6 { color: orange; }

/* common elements */
.inverse-color p,
.inverse-color ol,
.inverse-color ul,
.inverse-color dl,
.inverse-color address,
.inverse-color table { color: hsl(0,0%,97%); }

.inverse-color cite { color: hsl(0,0%,97%); }
.colorific cite { color: lightblue; }

.inverse-color strong { text-shadow: 1px 1px black; }
.colorific strong { text-shadow: 1px 1px indianred; }

.inverse-color blockquote { border-left: medium solid darkgrey;}

.inverse-color hr { border-top: thin solid darkgrey; }
.colorific hr { border-top: thin solid darkslategrey; }

.inverse-color mark { background-color: white; color: black; }
.colorific mark { background-color: lightblue; }

.inverse-color ins { background-color: darkgrey; color: white;}

.inverse-color abbr[title] {
	border-bottom: thin dotted rgb(148, 148, 148);
}

.inverse-color table tr:last-child td { border-bottom: thin solid darkgrey; }
.inverse-color table th,
.inverse-color table td { border-top: thin solid darkgrey; }



/* Colorschemes =============== *
 * Maybe have different colorschemes?
 */

/* Your own =================== *
 * Create your own colorscheme!
 */

.your_color h1,
.your_color h2,
.your_color h3,
.your_color h4,
.your_color h5,
.your_color h6 { color: none; }

.your_color p,
.your_color ol,
.your_color ul,
.your_color dl,
.your_color address,
.your_color table { color: none; }

.your_color cite { color: none; }

.your_color strong { }

.your_color blockquote { border-left: medium solid darkgrey;}

.your_color hr { border-top: thin solid darkslategrey; }