/* Reset =================================================== */
/* Modified */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color: lightblue;
    color:#000; 
    font-style:italic;
    font-weight:bold;
    padding: 3px 6px;
    text-rendering: optimizeLegibility;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

input, select {
    vertical-align:middle;
}

/* clearfix ======================================= */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* Page =================================================== */
html {
  background: white;
  font-size: 62.5%; /* sets the font size to 10px */
  line-height: 1; /* Sets the line-height to 10px */
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: hsl(0, 0%, 97%) transparent;
  color: #222;
  font-family: Georgia, Serif;
  font-size: 14px; font-size: 1.4rem;
  line-height: 23px; line-height: 2.3rem;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Typography =================================================== */

/* HEADLINES ==================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: Impact, Sans-serif;
  font-weight: normal; /* reset */
  letter-spacing: 1px;
  line-height: 23px; line-height: 2.3rem;
  margin: 0; /* reset */
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 42px; font-size: 4.2rem;
  line-height: 46px; line-height: 4.6rem;
}
h2 {
  font-size: 32px; font-size: 3.2rem;
  line-height: 46px; line-height: 4.6rem;
}
h3 { font-size: 24px; font-size: 2.4rem; }
h4 { font-size: 18px; font-size: 1.8rem; }
h5 { font-size: 16px; font-size: 1.6rem; }
h6 {
  font-size: 14px; font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* CONDITIONAL HEADLINES ========== *
 * Since we use headlines at
 * different places. One of my main
 * annoynce is that conditions I want
 * when they are relating to a
 * paragraf isnt the same as
 * when it relates to other stuff.
 * It might need more conditions but
 * this is a start.
 * Also, this concept will work better
 * once we have parent selectors in CSS4.
 */
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
table + h1,
table + h2,
table + h3,
table + h4,
table + h5,
table + h6  {
  margin-bottom: 23px;
  padding-top: 23px;
}
hgroup + p {
  padding-top: 23px;
}


/* PARAGRAPHS & stuff ============= */
p,
ol,
ul,
dl,
address {
  color: rgb(16, 25, 49); /* dark black blue */
  font-size: 14px; font-size: 1.4rem;
  line-height: 23px; line-height: 2.3rem;
  margin-bottom: 23px; margin-bottom: 2.3rem;
  text-rendering: optimizeSpeed;
}
small {
  font-size: 11px; font-size: 1.1rem;
}
ul,
ol {
  list-style-type: square;
  margin: 0 0 23px 20px;
  padding: 0;
}
li ul,
li ol {
  margin: 0;
  font-size: 16px; font-size: 1.6rem;
}
blockquote {
  margin: 0 0 46px;
  padding-left: 20px;
  border-left: 2px solid #c7ced6;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  font-style: normal;
}
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
cite {
  font-style: normal;
}
blockquote > cite:before {
	content: '\2013'; /* en-dash */
	margin-right: 3px;
}
dl,
dd {
  margin-bottom: 1.5em;
}
dt {
  font-weight: bold;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 22.78%;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
ins {
  background-color: rgb(193, 241, 174); /* lightgreen */
  color: #000000;
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Elements =================================================== */
hr {
  display: block;
  margin: 46px 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: thin solid #c7ced6;
}
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin-bottom: 1.5em;
}
figure img {
  margin-bottom: 0.375em;
}
figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: #808080;
}
/* Tables =================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  font-family: Verdana, Sans-serif;
  max-width: 100%;
  margin-bottom: 2.3rem;
  width: 100%;
}
table th,
table td {
  padding: 0;
  vertical-align: top;
  border-top: thin solid #8c9bab;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 2.3rem;
  text-align: left;
}
table tr:last-child td {
	border-bottom: thin solid #8c9bab;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table caption { /* table headlines */

	font-weight: bold;
	line-height: 4.6rem;
}


/* layout 
#header,
#footer {
	margin-left: 20px;
	padding: 27px 10px;
	width: 520px;
}
#main > article {
  width: 520px;
  display: inline;
}
#main > aside {
  width: 260px;
}
#sidecontent {
  width: auto;
  display: inline-block;
  border: thin solid;
}*/

#header hgroup h1 {
  color: #333;
  font-size: 3rem;
}
#header hgroup h2 {
  font-size: 1.4rem;
  color: red;
}
#header header {
  background: #E8FFE4;
  padding: 20px 10px;
  box-shadow: 2px 0 3px hsl(0,0%,66%), -2px 0 3px hsl(0,0%,66%);
  -webkit-border-image: url("../img/border5.png") 0 0 0 10 repeat;
  border-image: url("../img/border5.png") 0 8 0 8 repeat;
  border-width: 8px;
  border-top-width: 0;
  border-bottom-width: 0;
}
#main article {
  background: url('../img/exclusive_paper.png') #f7f7f7;
  -webkit-border-image: url("../img/border5.png") 0 0 0 10 repeat;
  border-image: url("../img/border5.png") 0 8 0 8 repeat;
  padding: 20px 10px;
  border-width: 8px;
  border-top-width: 0;
  border-bottom-width: 0;
  box-shadow: 2px 0 3px hsl(0,0%,66%), -2px 0 3px hsl(0,0%,66%);

}
#sidecontent { }
#footer footer { background: #333; padding: 10px; }
